
    <div class="modal fade" id="editThongTinKhacModal" tabindex="-1" aria-labelledby="editThongTinKhacModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-primary fw-bold">Chỉnh sửa thông tin khác</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label text-primary">Tình trạng sức khỏe</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label class="form-label text-primary">Chiều cao</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col">
                            <label class="form-label text-primary">Cân nặng</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col">
                            <label class="form-label text-primary">Nhóm máu</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-primary">Thương binh loại</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-primary">Gia đình liệt sĩ</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary text-primary" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </div>
    </div>