 <h3 class="text-primary">Lịch làm thêm</h3>
    <div class="d-flex justify-content-start gap-3 align-items-center mb-3">
        <select class="form-select w-auto">
            <option>--Chọn ngày làm--</option>
        </select>
        <select class="form-select w-auto">
            <option>--Chọn loại ngày công--</option>
        </select>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Nhân viên</th>
                <th>Phòng ban</th>
                <th>Ngày làm</th>
                <th>Thời gian làm</th>
                <th>Loại ngày công</th>
                <th>Hệ số ngày công</th>
                <th>Số công</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td class="text-orange">Nguyễn Văn A (annv)</td>
                <td>Phòng giải pháp</td>
                <td>19/5/2023</td>
                <td>18:00 - 19:30</td>
                <td class="text-orange">Tăng ca hưởng 1.5 NC</td>
                <td class="text-center">1.5</td>
                <td class="text-center">1</td>
                <td class="text-center"><i class="bi bi-trash text-primary"></i></td>
            </tr>
            <tr>
                <td>2</td>
                <td class="text-orange">Nguyễn Văn B (annv)</td>
                <td>Phòng đảm bảo chất lượng</td>
                <td>19/5/2023</td>
                <td>18:00 - 19:30</td>
                <td class="text-orange">Tăng ca hưởng 1.5 NC</td>
                <td class="text-center">1.5</td>
                <td class="text-center">1</td>
                <td class="text-center"><i class="bi bi-trash text-primary"></i></td>
            </tr>
            <tr>
                <td>2</td>
                <td class="text-orange">Nguyễn Văn C (annv)</td>
                <td>Phòng đảm bảo chất lượng</td>
                <td>19/5/2023</td>
                <td>18:00 - 19:30</td>
                <td class="text-orange">Tăng ca hưởng 1.5 NC</td>
                <td class="text-center">1.5</td>
                <td class="text-center">1</td>
                <td class="text-center"><i class="bi bi-trash text-primary"></i></td>
            </tr>
            <tr>
                <td>2</td>
                <td class="text-orange">Nguyễn Văn D (annv)</td>
                <td>Phòng đảm bảo chất lượng</td>
                <td>19/5/2023</td>
                <td>18:00 - 19:30</td>
                <td class="text-orange">Tăng ca hưởng 1.5 NC</td>
                <td class="text-center">1.5</td>
                <td class="text-center">1</td>
                <td class="text-center"><i class="bi bi-trash text-primary"></i></td>
            </tr>
            <tr>
                <td>2</td>
                <td class="text-orange">Nguyễn Văn E(annv)</td>
                <td>Phòng đảm bảo chất lượng</td>
                <td>19/5/2023</td>
                <td>18:00 - 19:30</td>
                <td class="text-orange">Tăng ca hưởng 1.5 NC</td>
                <td class="text-center">1.5</td>
                <td class="text-center">1</td>
                <td class="text-center"><i class="bi bi-trash text-primary"></i></td>
            </tr>
            
        </tbody>
    </table>
<div class="d-flex justify-content-between align-items-center">
    <div>
        <select class="form-select d-inline-block text-primary" style="width: auto;">
            <option>20</option>
            <option>50</option>
            <option>100</option>
        </select>
        <span class="ms-2 text-primary">Tổng số bản ghi: 915</span>
    </div>
    <nav>
        <ul class="pagination custom-pagination mb-0">
            <li class="page-item">
                <a class="page-link rounded-circle" href="#"><i class="bi bi-chevron-left"></i></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            <li class="page-item"><a class="page-link" href="#">8</a></li>
            <li class="page-item"><a class="page-link" href="#">9</a></li>
            <li class="page-item"><a class="page-link" href="#">10</a></li>
            <li class="page-item">
                <a class="page-link rounded-circle" href="#"><i class="bi bi-chevron-right"></i></a>
            </li>
        </ul>
    </nav>
</div>